asgiref==3.5.2
distlib==0.3.6
Django==3.2.4
filelock==3.8.0
Pillow==9.3.0
platformdirs==2.5.4
psycopg2==2.9.4
pytz==2022.6
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
sqlparse==0.4.3
virtualenv==20.16.7
whitenoise==6.2.0
