{% extends 'main.html' %}

{% block content %}

<main class="projects">

    <section class="">
        <div class="single__profile-main__container">
            <div class=" card project single__profile">

                <div class="single__profile-card__container">
                    <a href="{% url 'edit-profile' %}"><button>Edit</button></a>
                    <img class="project__thumbnail profile-image" src="{{ profile.profile_image.url }}" alt="avatar">
                    <h3 class="project__title single__profile-name">{{profile.name}}</h3>
                    <p><a class="project__author" href="">{{profile.short_intro}}</a></p>
                    <p class="project--rating">Based in {{profile.location}}</p>

                    <ul class="single__profile-social__list">
                        {% if profile.social_github %}
                            <a href="{{profile.social_github}}"><li class="single__profile-social__list-item"><i class="fa-brands fa-github fa-2xl"></i></li></a>
                        {% endif %}
                        {% if profile.social_twitter %}
                            <a href="{{profile.social_twitter}}"><li class="single__profile-social__list-item"><i class="fa-brands fa-twitter fa-2xl"></i></li></a>
                        {% endif %}
                        {% if profile.social_linkedin %}
                            <a href="{{profile.social_linkedin}}"><li class="single__profile-social__list-item"><i class="fa-brands fa-linkedin fa-2xl"></i></li></a>
                        {% endif %}
                        {% if profile.social_website %}
                            <a href="{{profile.social_website}}"><li class="single__profile-social__list-item"><i class="fa-solid fa-globe fa-2xl"></i></a>
                        {% endif %}
                        {% if profile.social_youtube %}
                            <a href="{{profile.social_youtube}}"><li class="single__profile-social__list-item"><i class="fa-brands fa-youtube fa-2xl"></i></li></a>
                        {% endif %}
                    </ul>

                    <div>
                        <button class="button-feedback-comments">Send Message</button>
                    </div>
                </div>
            </div>

            <div class="single__profile-about_main-container">
                <div class="single__profile-about_container">
                    <h2 class="single__profile-about_heading">About Me</h2>
                    <p class="single__profile-about_par">{{profile.bio}}</p>
                </div>
    
                <div class="single__profile-skills_container">
                    <div>
                        <h2 class="single__profile-skills subheading">Skills</h2>
                        <button><a href="{% url 'add-skill' %}" class="edit-link">Add skill</a></button>
                    </div>

                    {% for skill in skills %}
                        <h3 class="single__profile-skills-heading">{{skill.name}}</h3>
                        <button><a href="{% url 'edit-skill' skill.id %}" class="edit-link">Edit</a></button>
                        <!-- Adding  ?next=/account to send user to a previous page dynamically-->
                        <button><a href="{% url 'delete-skill' skill.id %}?next=/account" class="edit-link">Delete</a></button>
                        <p class="single__profile-skills-par">{{skill.description}}</p>
                    {% endfor %}
                </div>    
                
            </div>
        </div>
        <div class="single__profile-projects-container">
            <h2 class="single__profile-projects-heading">Projects</h2>
            <button class="add-project-btn"><a href="{% url 'create-project' %}" class="edit-link">Add project</a></button>
            <section class="projectsList">
                <div class="container project__cards-container">
                  <div class="grid grid--three">
                      {% for project in projects %}
                          <div class="column">
                              <div class="card project">
                              <a href="{% url 'project' project.id %}" class="project">
                                <button><a href="{% url 'update-project' project.id %}" class="edit-link">Edit</a></button>
                                <button><a href="{% url 'delete-project' project.id %}?next=/account" class="edit-link">Delete</a></button>
                                <br><br>
                                
                                  <img class="project__thumbnail" src="{{project.featured_image.url}}" alt="project thumbnail" />
                                  <div class="card__body">
                                  <h3 class="project__title">{{project.title}}</h3>
                                  <p><a class="project__author" href="{% url 'user-profile' project.owner.id %}">By {{project.owner.name}}</a></p>
                                  <p class="project--rating">
                                      <!-- <span style="font-weight: bold;">{{project.vote_ratio}}%</span> Positive
                                      Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}}) -->
                                      {{project.description|slice:'200'}}
                                  </p>
                                  <div class="project__tags">
                                      {% for tag in project.tags.all %}
                                          <span class="tag tag--pill tag--main">
                                              <small>{{tag}}</small>
                                          </span>
                                      {% endfor %}
                                  </div>
                                  </div>
                              </a>
                              </div>
                          </div>

                      {% endfor %}
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </section>
</main>

{% endblock %}