{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="register-wrapper">
    <div class="register register__main-container">
        <!-- To attach images or files attribute needed enctype="multipart/form-data" -->
        <form method="POST" action="{% url 'edit-profile' %}" enctype="multipart/form-data">
            <div class="register__header">
                <img src="{% static 'images/add-user.png' %}" alt="icon" class="register__image">
                <h1 class="register__header-title">Edit Your Account</h1>
                <p>Hey, let's add some information!</p>
            </div>

            <div class="register__form">
                {% csrf_token %}

                {% for field in form %}
                    <label for="formInput#text" class="register__form-label">{{field.label}}</label>
                    <div class="form-change-picture">
                        {{field}}
                    </div>
                {% endfor %}

            <button class="button-feedback-comments" type="submit">Submit</button>
        </form>
    </div>
    </div>
</div>


{% endblock %}