{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="register-wrapper">
    <div class="register register__main-container">
        <form action="" method="POST">
            <div class="register__header">
                <a class="title-link go-back-link" href="{% url 'user-profile'  recipient.id %}">
                    <img src="/static/images/back.png" alt="code" height="30px">Go Back
                </a>
                <h1 class="register__header-title">Compose your message</h1>
                <p>It's your time to shine!</p>
            </div>

            {% csrf_token %}

            {% if request.user.is_authenticated == False %}

                <label for="formInput#text" class="register__form-label">{{form.name.label}}</label>
                <div class="form-change-picture">
                    {{form.name}}
                </div>

                <label for="formInput#text" class="register__form-label">{{form.email.label}}</label>
                <div class="form-change-picture">
                    {{form.email}}
                </div>

            {% endif %}

            <label for="formInput#text" class="register__form-label">{{form.subject.label}}</label>
            <div class="form-change-picture">
                {{form.subject}}
            </div>

            <label for="formInput#text" class="register__form-label">{{form.body.label}}</label>
            <div class="form-change-picture">
                {{form.body}}
            </div>

            <div class="register__header">
                <button class="button-feedback-comments" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}