{% extends 'main.html' %}

{% block content %}

<div class="register register__main-container">
    
    <form method="POST" action="" class="register-container">
        {% csrf_token %}
        <div class="register__header">
            <h2 class="register__header-title">Enter new password</h2>
            <p class="forgot-email-par">Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>
        <div class="register__form">

            <!-- {{form.as_p}} -->
            <label for="formInput#text" class="register__form-label">New password</label>
            <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Password" class="id_title"/>
            <label for="formInput#text" class="register__form-label">Confirm password</label>
            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Password" class="id_title"/>
            
            {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red">{{error}}</p>
                {% endfor %}
            {% endfor %}
            
            <div class="register_button">
                <button type="submit" value="Login" class='button-feedback-comments'>Change</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}