{% extends 'main.html' %}

{% block content %}

 <!-- Main Section -->
 <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Hey, <span class="hero-section__box__span">Developer </span>let's collaborate!</h2>
        </div>

        <div class="hero-section__search">
          <form class="form" id="projects-search-form" action="{% url 'profiles' %}" method="get">
              <!-- <label for="formInput#search">Search By Projects </label> -->
              <input class="input input--text" id="formInput#search" type="text" name="search_query"
                placeholder="Search by developer name" value="{{search_query}}"/>
            <button class="btn btn--sub" type="submit" value="Search">Search</button>
          </form>
        </div>
      </div>
    </section>

    <section class="projectsList">
        <div class="container project__cards-container">
            <div class="grid grid--three">
                {% for profile in profiles %}
                <div class="column">
                    <div class="card project">
                            <a href="{% url 'user-profile' profile.id %}" class="project">
                                <!-- <div class="projects-image-container"> -->
                                    <img class="project__thumbnail" src="{{profile.profile_image.url}}" alt="project thumbnail" />
                                <!-- </div> -->
                                <h3 class="project__title">{{profile.name}}</h3>
                                <p><a class="project__author" href="">{{profile.short_intro|slice:"50"}}</a></p>
                                <p class="project--rating">
                                    {{profile.bio|slice:"150"}}
                                </p>
                            </a>

                        <div class="project__tags">
                            {% for skill in profile.skill_set.all|slice:"10" %}
                                <span class="tag tag--pill tag--main">
                                    <small>{{skill}}</small>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

        <!-- Pagination -->
    <!-- to customize pagination queryset needs to be passed  -->
    {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}

</main>

{% endblock %}