{% extends 'main.html' %}

{% block content %}

<div class="register register__main-container">
    
    <form method="POST" action="" class="register-container">
        {% csrf_token %}
        <div class="register__header">
            <h2 class="register__header-title">Password reset</h2>
            <p class="forgot-email-par">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        </div>
        <div class="register__form">
            <label for="formInput#text" class="register__form-label">Email adress</label>
            <input type="text" name="email" id="id_email" placeholder="Email" class="id_title"/>

            <div class="register_button">
                <button type="submit" value="Login" class='button-feedback-comments'>Reset password</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}