{% extends 'main.html' %}

{% block content %}

<!-- <h1>Project Form</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{form.as_p}}

    <input type="submit">
</form> -->


<main class="formPage my-xl">
    <div class="register-wrapper">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
                <br>
    
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    {% for field in form %}
                    <!-- Input:Text -->
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}

                    <!-- <div class="form__field">
                        <label for="formInput#text">Tags</label>
                        <textarea name="newtags" class="input" id="id_description" placeholder="Add some skills"></textarea>
                    </div> -->

                    <button class="button-feedback-comments" type="submit">Submit</button>
                </form>

            </div>
        </div>    
    </div>

</main>

{% endblock content %}