{% extends 'main.html' %}

{% block content %}

{% load static %}

<!-- Main Section -->
<div class="about-me section-title">
    <div class="name-image">
       <h2>{{project.title}}</h2>
       <br>
       <h4><a href="{% url 'user-profile' project.owner.id %}" class="project-owner-link">Developed by <span class="project__author">{{project.owner}}</span></a></h4>
       <br>
    </div>
</div>
 <hr>
 <div class="trend-title-container">
    <h3 class="section-title">Tools & Stack</h3>
 </div>
 <ul class="tag-list">
    {% for tag in project.tags.all %}
        <li class="">
            <small>
                <a class="tag-link" href="#">{{tag}}</a>
            </small>
        </li>
    {% endfor %}
 </ul>
 <div class="posts-container" id="section-articles">
    <main class="main-section">
       <article class="post">
          <div class="post-content">
            <div class="side-menu-timestamp">
                <img src="{{project.featured_image.url}}" width="650px" height="400px" alt="project" class="project-image"/>
                {% if project.source_link %}
                 <h3 class="side-menu-title">
                    <a class="title-link" href="{{project.source_link}}" target="_blank"><img src="{% static 'images/external.png' %}" alt="code" height="30px">Source Code</a>
                 </h3>
                {% endif %}

                {% if project.demo_link %}
                <h3 class="side-menu-title">
                    <a class="title-link" href="{{project.demo_link}}" target="_blank">
                        <img src="{% static 'images/external.png' %}" alt="code" height="30px">Demo Link
                    </a>
                </h3>
               {% endif %}

              </div>
             <div class="post-timestamp">
                <h2 class="date">About the project</h2>
             </div>
             
             <div class="post-text">
                <p class="post-text-block">{{project.description}}</p>
                <hr class="mobile-underline">
             </div>
          </div>
       </article>
    </main>
    <!-- Posts section ends -->
    <!-- Side section -->
    <aside class="side-menu">
       <article class="side-post-container">
        <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h3 class="project--rating">
                {{project.vote_ratio}}% Postitive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})
            </h3>
            {% if request.user.profile.id in project.reviewers %}
               <p class="project--rating">You have already submitted the review for this project</p>
            
            {% elif request.user.profile == project.owner %}
               <p class="project--rating">You can't review your own project</p>
            
            {% elif request.user.is_authenticated %}
               <form class="form" action="{% url 'project' project.id %}" method="POST">
                  {% csrf_token %}
      
                  {% for field in form %}
                     <div class="form__field">
                        <label for="formInput#textarea">{{field.label}}</label>
                        <!-- <textarea class="input input--textarea" name="message" id="formInput#textarea"
                           placeholder="Write your comments here..."></textarea> -->
                        {{field}}
                     </div>
               {% endfor %}
               <button class="button-feedback-comments" type="submit">Submit Review</button>
               </form>
            {% else %}
               <!-- checking on which page the user is currently at and after user logs in redirect to the same page by adding ?next={{request.path}}-->
               <!-- <a href="{% url 'login' %}?next={{request.path}}" class="project--rating">Log in required to leave a review</a> -->
               <a class="title-link" href="{% url 'login' %}?next={{request.path}}"><img src="/static/images/external.png" alt="code" height="30px">Log in to leave a review</a>
            {% endif %}


            <div class="commentList">
               {% for review in project.review_set.all %}
                  {% if review.body %}
                     <div class="comment">
                        <a href="{% url 'user-profile' review.owner.id %}">
                           <img class="avatar avatar--md"
                           src="{{review.owner.profile_image.url}}" alt="user" width="100px"/>
                        </a>
                        <div class="comment__details">
                           <a href="{% url 'user-profile'  review.owner.id %}" class="comment__author project__author">{{review.owner.name}}</a>
                              <h2 class="comment__info project--rating" id="text">{{review.body|linebreaksbr}}</h2>
                        </div>
                     </div>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
       </article>
       <!-- </section> -->
    </aside>
 </div>
 <!-- Side section ends -->
{% endblock content %}




