{% extends 'main.html' %}

{% block content %}
    <div class="register register__main-container">
        <form action="" method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete <span style="font-weight:bold">{{object}}</span>?</p>
            <button class="button-feedback-comments" type="submit">
                <a href="{{ request.GET.next }}" class="button-feedback-comments">Go Back</a>
            </button>
            <button class="button-feedback-comments" type="submit">Confirm</button>
        </form>
</div>
{% endblock content %}