@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
  }

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;    
}

.fa-laptop {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

.nav__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 1.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.nav__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.nav__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #EEF2F5;
    transition: all 0.35s;
    border-radius: 4px;
}

.nav__btn:hover {
    color: white;
}

.nav__btn:hover:after {
    width: 100%;
}

.hero-section {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    padding: 50px;
}

.form__field {
    /* text-align: center; */
    width: 400px;
}

.input--textarea {
  width: 100%;
  height: 200px;
  resize: none;
  outline: black;
  padding: 15px;
}

.hero-section__box {
    text-align: center;
    font-size: 25px;
}

.hero-section__box__span {
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
}

.hero-section__search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.input--text {
    width: 30vw;
    height: 40px;
    outline: black;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 10px;
}

.input--text::placeholder {
    padding: 20px;
}

.btn--sub {
    height: 40px;
    border-radius: 5px;
    width: 10vw;
    cursor: pointer;
    border: 3px solid white;
    background: #EEF2F5;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    font-size: 20px;
    position: relative;
}

.btn--sub:hover {
    color: #fff;
}
  
.projectsList {
    margin-top: 8rem;
  }

  /*========== Projects ==========*/

.project__thumbnail {
    height: 20rem;
    width: 25rem;
    object-fit: cover;
    object-position: top center;
  }
  
  .project__title {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .project--rating {
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
    font-size: 16px;
  }

  .project {
    text-decoration: none;
  }
  
  .project__info {
    margin: 1rem 0;
    font-size: 1.4rem;
    text-align: justify;
  }

  .project__author {
    color:#ff0844;
    padding-top: 50px;
    margin-bottom: 20px;
    font-style: italic;
    text-decoration: none;
  }

  div.card.project {
    border: 2px solid lightgray;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 8px -4px gray;  }

  small {
    background: rgba(255,8,68,0.5);
    padding: 5px;
    border-radius: 30px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  
  .grid > .column {
    max-width: 28rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  
  .grid--three > .column {
    flex-basis: 100%;
  }
  
  @media screen and (min-width: 800px) {
    .grid--three {
      margin-right: -2%;
    }
  
    .grid--three > .column {
      margin-right: 2%;
    }
  
    .grid--three > .column {
      flex-basis: 48%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .grid--three {
      margin-right: -2.33%;
    }
  
    .grid--three > .column {
      margin-right: 2.33%;
    }
  
    .grid--three > .column {
      flex-basis: 31%;
    }
  }
  
  .grid--two > .column {
    flex-basis: 100%;
  }
  
/* Single project */

  .posts-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 63px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .main-section {
    width: 775px;
  }
  .post {
    display: flex;
  }
  .post:nth-child(n+2) {
    margin-top: 20px;
  }
  .post-content {
    margin-left: 33px;
    width: 100%;
  }
  .post-list-item:nth-child(n+1) {
    margin-right: 18px;
  }
  .post-title {
    margin-top: 6px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  .post-timestamp {
    margin-top: 25px;
  }
  .date {
    color: #888888;
    font-size: 20px;
    color: black;
  }
  .author {
    color: var(--on-background);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 14px;
  }
  .post-text {
    margin-top: 44px;
    font-size: 15px;
    line-height: 1.5;
  }
  .post-text-block {
    width: 70%;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
  }
  .mobile-underline {
    display: none;
  }
  .post-text-block:nth-child(n+2) {
    margin-top: 10px;
  }
  .side-menu {
    width: 270px;
    margin-left: 120px;
  }
  .side-menu-section:nth-child(n+2) {
    margin-top: 20px;
  }
  .section-title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  /* Side section */
  .side-menu {
    width: 270px;
    margin-left: 120px;
  }
  .side-menu-section:nth-child(n+2) {
    margin-top: 60px;
  }
  .side-post-container {
    display: flex;
    align-items: flex-start;
  }

  .side-menu-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    cursor: pointer;
    margin-top: 25px;
  }

  .title-link:hover {
    color: #fd4084;
  }

  .side-menu-title.img {
    cursor: pointer;
  }

  .tag-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    list-style-type: none;
  }
  .tag-list-item {
    margin-right: 5px;
    margin-bottom: 6px;
    border: 3px solid #eeeeee;
    padding: 3px 13px;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  }
  .tag-list-item:hover {
    background-color: rgba(244,243,241,0);
  }
  .tag-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  .title-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }

.title-link img {
  margin-right: 7px;
}

  /* Side section ends */
  
  /* Projects Section */
  #projects, #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #contact {
    margin-top: 80px;
  } 
  
  .buttons {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  
  button {
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    font-size: 15px;
    outline: none;
  }
  
  button:disabled {
    opacity: 0.4;
    cursor: default;
  }
  
  button:hover:not(.outline) {
    filter: brightness(110%);
  }
  
  .primary {
    background: var(--primary-color);
    color: var(--on-primary);
  }
  
  .secondary {
    border: 2px solid var(--secondary-color);
  }
  
  .secondary,
  .secondary:hover,
  .outline.secondary:hover {
    background: var(--secondary-color);
    color: var(--on-primary);
  }
  
  .outline {
    background: var(--background);
    color: var(--on-background);
  }
  
  .outline:hover {
    background: var(--primary-color);
    color: var(--on-primary);
  }
  
  .text-box {
    width: 40%;
    text-align: justify;
    background: rgb(0 0 0 / 50%);
    color: var(--on-primary);
    border-radius: 10px;
    padding: 30px;
  }
  
  p {
    margin: 0;
    line-height: 25px;
  }

  .button-feedback-comments {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    border-radius: 4px;
    padding: 5px 12px;
    color: #fff;
    margin: 20px 0;
    font-size: 1rem;
    width: 160px;
  }

  @media screen and (min-width: 800px) {
    .grid--two {
      margin-right: -2%;
    }
  
    .grid--two > .column {
      margin-right: 2%;
    }
  
    .grid--two > .column {
      flex-basis: 48%;
    }
  }
  
/*=======================
  Pagination
========================*/
.pagination {
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
  
  .pagination > ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .pagination .btn {
    color: black;
  }
  
  .pagination .btn.btn--sub {
    color: black;
  }

  /* Form */
  .content-box {
    display: flex;
    justify-content: center;
  }

  .formWrapper {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 3.5rem 5rem;
    width: 50vw;
    border-radius: 0.7rem;
    margin-top: 50px;
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 8px 8px -4px grey;
  }
  
  .formPage .formWrapper__subject {
    font-size: 2.8rem;
    color: var(--color-sub);
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .form {
    display: block;
  }
  
  .form__field {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .form__error {
    display: block;
    font-size: 1.4rem;
  }
  
  .form__label,
  .form__field > label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form__label--inline {
    display: inline-block;
    margin-bottom: 0.8rem;
  }

  #id_tags {
    list-style-type: none;
  }
  
  #id_description {
    height: 300px;
    width: 400px;
    resize: none;
    outline: black;
    padding: 15px;
  }

  #id_demo_link, #id_title, #id_source_link {
    height: 40px;
    width: 400px;
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 8px 8px -4px grey;
    outline: black;
    padding: 15px;
  }

  #id_description {
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 8px 8px -4px grey;
    outline: black;
  }

  #id_featured_image {
    border: 2px solid lightgray;
    border-radius: 15px;
    box-shadow: 0 8px 8px -4px grey;
    outline: black;
    padding: 5px 12px;
    color: black;
    margin: 20px 0;
    font-size: 1rem;
    width: 100%;
  }

  ::-webkit-file-upload-button {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    border-radius: 4px;
    border: none;
    padding: 5px 12px;
    margin: 20px 0;
    width: 120px;
    cursor: pointer;
    margin-right: 10px;
  }

  ::-webkit-file-upload-button:hover {
    background-image: linear-gradient(to top, #fe5196 0%, #f77062 100%);
    color: #fff;

  }

  #id_tags input {
    width: 20px; height: 20px;
    border-radius: 50%;
    transition: box-shadow .3s;
    background: lightgrey;
    cursor: pointer;
    border: 0;
    appearance: none; -webkit-appearance: none;
  }

  #id_tags input:checked{ 
    box-shadow: inset 0 0 0 20px #fe5196; 
  }

/* Custom Scrollbar */
#id_description, .input--textarea {
  overflow-y: auto;
  max-height: 75vh;
}

#id_description::-webkit-scrollbar-track, 
.input--textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 5px;
}

#id_description::-webkit-scrollbar,
.input--textarea::-webkit-scrollbar-track {
  width: 10px;
}

#id_description::-webkit-scrollbar-thumb,
.input--textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}





  
  

  